header {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url('https://img2.goodfon.com/wallpaper/nbig/f/f4/esti-ginzburg-esti-ginzburg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;




    .textbox {
        position: absolute;
        top: 4rem;
        left: 5%;
        right: 40%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        text-align: center;
        height: 80%;
        color: rgb(19, 20, 20);

        h3 {
            text-transform: uppercase;
        }

        .small-text {
            line-height: 1.3rem;
        }
    }
}