.container {
  padding: 0 2rem;
  margin: auto;
  width: 100%;
  max-width: 1500px;

  .card {
    height: 600px;
    width: 350px;
    padding: 10px;
    cursor: pointer;
    margin: 1rem auto;
    border: none;

    .thumbnail {
      height: 70%;
      width: 100%;
    }

    .card-text {
      display: flex;

      .category {
        font-weight: 700;
        margin: 0 5px;
      }

      .name {
        font-weight: 300;
      }
    }
  }
}
