section {
  margin: 8rem 1rem;
  padding: 0 0.5rem;

  .founders {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      margin: 2rem auto;
      border: none;

      .headShot {
        height: 450px;
        width: 350px;
        object-fit: cover;
      }
      p {
        font-weight: 100;
      }
    }
  }
}
